@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --clr-primary-200: hsl(6, 100%, 80%);
    --clr-primary-300: hsl(335, 100%, 65%);

    --clr-neutral-500: hsl(229, 57%, 11%);
    --clr-neutral-400: hsl(228, 56%, 26%);
    --clr-neutral-300: hsl(229, 7%, 55%);
    --clr-neutral-200: hsl(243, 100%, 93%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-base: 'Raleway', sans-serif;

    --fw-bold: 700;
    --fw-regular: 400;
}

/**************
  CSS RESET ***
***************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1;
}

ul, li {
    list-style: none;
}

/*
  9. Create a root stacking context
#root,
#__next {
    isolation: isolate;
}
*/
/*************
   MAIN CSS***

*/

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-neutral-200);
    background-image: url("images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
}

.container {
    display: grid;
    margin: 8rem 2rem;
    max-width: 60em;
    gap: 1rem;
    overflow: hidden;
}

.first, .last {
    display: grid;
    background-color: var(--clr-neutral-400);
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 2rem;
}

.first {
    padding: 2rem 3rem;
    gap: 2rem;
    border-top-right-radius: 6rem;
}

.options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--clr-neutral-500);
}


.last {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.last__prg span{
    font-weight: var(--fw-bold);
}

.last__used {
    width: 100%;
    height: 1.125rem;
    background-color: var(--clr-neutral-500);
    border-radius: 3.125rem;
}

.last__progress {
    height: 0.875rem;
    background: linear-gradient(90deg, var(--clr-primary-200), var(--clr-primary-300));
    border-radius: 3.125rem;
    transform: translate(0.125rem, 0.125rem);
    position: relative;
}

.last__progress::before {
    content: "";
    position: absolute;
    width: 0.8125rem;
    height: 0.8125rem;
    background-color: var(--clr-neutral-200);
    border-radius: 50%;
    right: 0.0625rem;
}

.last__left {
    display: grid;
    place-content: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    
    color: var(--clr-neutral-500);
    width: 9rem;
    padding: 0 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--clr-neutral-100);
}

.left__prg{
    font-weight: var(--fw-bold);
    font-size: 2rem;
    color: var(--clr-neutral-500);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.left__prg span{
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--clr-neutral-300);
}

.flex-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

@media (min-width:47em) {
    body {
        background-image: url("images/bg-desktop.png");
        background-color: var(--clr-neutral-500);
        background-size: contain;
        background-position: 100% 100%;
        place-content: center;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .last {
        margin: 0;
        margin-top: 2rem;
    }
    .last__prg {
        text-align: start;
    }
    .last__left {
        left: 75%;
        top: 15%;
        transform: translate(-40%, -100%);
        border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    }

    .last__left::before {
        content: "";
        position: absolute;
        border-style: solid;
        border-color: transparent var(--clr-neutral-100) transparent transparent;
        border-width: 0rem 1.875rem 3.125rem 1.25rem;
        right: 0;
        bottom: -2rem;
    } 

    .options{
        margin-right: 4rem;
    }

    .container > :nth-child(1) {
        grid-column: 1/2;
    }

    .container > :nth-child(2) {
        grid-column: 2/-1;
    }
}

/* display: hidden 
*/
.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }